<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="annonymous" />
  <title>XKCD Browser</title>
</head>

<body>
  <h1>XKCD Browser</h1>
  <div id="app">
    <div v-if="loading">
      <p>Loading...</p>
    </div>
    <div v-else>
      <p>
        <button @click="firstComic">First</button>
        <button @click="previousComic">Previous</button>
        <button @click="nextComic">Next</button>
        <button @click="randomComic">Random</button>
        <button @click="lastComic">Last</button>
      </p>
      <h2>{{current.title}}</h2>
      <img v-bind:src="current.img" v-bind:alt="current.alt">
      <p>{{current.alt}}</p>
      <p><i>#{{current.num}}, drawn on {{current.day}} {{month}} {{current.year}}</i></p>
      <star-rating v-model="rating"  v-bind:increment="0.5" @rating-selected="setRating" v-bind:show-rating="false" active-color="#FF0000"> <!--v-bind:star-size="30"-->
      </star-rating>
      <p>Average Rating: {{_data.averageRating}}</p>

      <h3>Add a Comment</h3>
      <form v-on:submit.prevent="addComment">
        <input v-model="addedName" placeholder="Name"></p>
        <textarea v-model="addedComment"></textarea>
        <br />
        <button type="submit">Comment</button>
      </form>
      <h3>Comments</h3>
      <div v-for="comment in comments[number]">
        <hr>
        <p>{{comment.text}}</p>
        <p><i>-- {{comment.author}}</i></p>
        <p>{{comment.timestamp}}</p>

      </div>

    </div>
  </div>

  <hr>
  <footer class="footer">
    <div class="footer-logo">
      <div class="facebook">
        <a href="https://facebook.com" style="color: #4167B2;"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="github">
        <a href="https://github.com/andhim/CS260" style="color: black;"><i class="fab fa-github"></i></a>
      </div>
      <div class="youtube">
        <a href="https://youtube.com" style="color: #FE0000;"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="copyright">
      <p id="copyright">&copy; jaeyoungpark.org </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script>
    Vue.component('star-rating', VueStarRating.default);
  </script>
  <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>


</body>

</html>